<header>
    <div class="logo">
        <a href="/"><img src="../images/puppy-love.png" alt="">PUPPY LOVE</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/puppies">Profile</a></li>
            <li><a href="/edit">Edit</a></li>
        </ul>
    </nav>
</header>