<body>
<!DOCTYPE HTML>
<html lang="en">
    <meta charset="utf-8">
    <head>
        <title>
            Puppy Love
        </title>
        <link rel="stylesheet" href="dating.css">
    </head>
    <h1>Creating your profile</h1>
    <body>
        <form>
        <fieldset>
            <legend>Your Friend</legend>
            <br>
             <label for="avatar">Your Image:</label> 
            <input type="file" accept="image/*">
            <br>
            <label for="image">Image Preview:</label>
            <img id="image" />
        </fieldset>
        </form>
        <br>
        
        <form>
        <fieldset>
            <legend>Your Friends Details</legend>
            <br>
            <label for="name">Name:</label>
            <input type="text" accept="text/plain">
            <br>
            <label for="gender">Gender:</label>
            <input type="radio" required>Male<input type="radio" required>Female
            <br>
            <label for="age">Age:</label>
            <input type="number" required name="age" value="">
            <br>
            <label for="dob">Date of Birth:</label>
            <input type="date" name="bday">
            <br>
            <label for="color">Favorite Color:</label>
            <input type="color" name="Color">
            <br>
            <label for="add">Tell us about your bestie:</label>
            <textarea></textarea>
            <br> 
        </fieldset>
        </form>
        
        <br>
        
        <form>
        <fieldset>
            <legend>Your Contact Deatils</legend>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" required placeholder="Enter a valid email address">
            <br>
            <label for="mobile">Mobile:</label>
            <input type="tel">
            <br>
            <label for="add">Address:</label>
            <textarea></textarea>
            <br>
        </fieldset>
        </form>
    </body>
    
    <br>
    <input type=submit value=Submit>
</html>

</body>