<div class="puppiesprofilepage">
  {{#each puppies}}
  <div class="pup-container">
    <div class="imgcontainer"><a href="/puppies/{{id}}"><img class="pup-img" src="{{image}}"></a></div>
  </div>
  {{/each}}
</div>