<div class="landingpagebg">
    <div class="landbgherotext">
        <p>FIND YOUR <br>BEST FRIENDS SOULMATE!</p>
        <div class="landbtn" type="button">
            <p><a href="/puppies">FIND OUT</a></p>
        </div>
    </div>
</div>