<div class="landingpagebg">
    <div class="landbgherotext">
        <p>YOUR PUP NEEDS A LOVER!</p>
        <div class="landbtn" type="button">
            <p><a href="">FIND OUT</a></p>
        </div>
    </div>
</div>