<div class="profilecontainer">
    <form action="/signup-receive" method="post">
        <img src="{{image}}" alt="{{name}}">
        <h2 class="profilelist">{{name}}</h2>
        Breed: <input class="profilelist" type="text" name="breed" id=""><br>
        Owner: <input class="profilelist" type="text" name="owner" id=""><br>
        Profile: <input class="profilelist" type="text" name="profile" id=""><br>
        <input class="profilebtn" type="submit" value="Sign Up">
    </form>
</div>